.footer-logo {
  margin-bottom: 20px;
}

.location {
  max-width: 231px;
  width: 100%;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}

.logo {
  font-family: var(--secondary-font);
  @include font(26px, 700, 31px);
  color: var(--accent-color);

  &--theme-dark {
    color: #000000;
  }

  &--theme-light {
    color: var(--primary-white-color);
  }
}
