.modal-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  @include button(16px, 700, 30px);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin: auto;
  border: 1px solid transparent;
}
