:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-text-color: #757575;
  --accent-title-color: #212121;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --section-padding-bottom: 49px;
  --icon-color: #afb1b8;
}
